@using KursovaRabota.Models
@model List<AuthorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Author</h2>

@* show ErrorMessage or InfoMessage (usually when we delete/edit/etc.) *@
@Html.Partial("_InfoMessages")

<div class="table-actions">
    @Html.ActionLink("Add New Author", "Edit", "Author", null, new { @class = "btn btn-primary btn-sm" })
</div>
<table class="table table-striped">
    @foreach (AuthorViewModel author in Model)
    {
        <tr>
            <td class="cell-small">@author.ID</td>
            <td>@author.Name</td>
            <td class="cell-small">
                @*<button type="button" class="btn btn-primary btn-sm">Edit</button>*@
                @Html.ActionLink("Edit", "Edit", "Author", new { id = author.ID }, new { @class = "btn btn-primary btn-sm" })
            </td>
            <td class="cell-small">
                @*<button type="button" class="btn btn-danger btn-sm">Delete</button>*@
                @Html.ActionLink("Delete", "Delete", "Author", new { id = author.ID }, new { onclick = "return confirm('Are you sure you to delete this author?');", @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
