@using KursovaRabota.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (LoginUserSession.Current.IsAuthenticated)
{
    <div>Hello @LoginUserSession.Current.Username </div>
    <div>You are administrator: @LoginUserSession.Current.IsAdministrator </div>
    @Html.ActionLink("Logout", "Logout", "Home")
}
else
{
    @Html.ActionLink("Login", "Login", "Home")
}

@ViewBag.Message @* Actually there is no need to check if it is null or "" *@

@Html.ActionLink("Register", "Register", "Home")
